@charset "UTF-8";

/* General Styles */
body {
    background: #990000;
}
article {
    background: #ffffe6;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    overflow: auto;
}
h1 {
    font-family: 'Fontdiner Swanky', cursive;
    font-size: 36px;
    color: #331a00;
    text-align: center;
}
h2, h3, h4, h5, h6 {
    font-family: 'Schoolbell', cursive;
    font-weight: bold;
    color: #331a00;
    text-align: center;
}
p, a {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #333;
}
a {
    font-weight: bold;
}
img {
    max-width: 300px;
    margin-left: calc(50% - 150px);
}
header {
    margin-bottom: 10px;
    border: solid 1px #ffffe6;
}
#header-img {
    float: left;
    margin: 0;
}
.content-wrapper {
    margin: 0 auto;
    overflow: auto;
    clear: both;
}
footer {
    clear: both;
}

/* Columns */
section {
    min-height: 800px;
    background: #fff;
    margin: 15px 10px 5px;
    padding: 15px;
    border: 2px solid #990000;
    float: left;
    overflow: auto;
}
#main {
    width: 40%;
    clear: both;
    margin-left: 2%;
}
#resources {
    width: 22%;
}
#resources img {
    max-width: 200px;
    margin-left: calc(50% - 100px);
}
#pirate-fun {
    width: 19%;
    margin-right: 0;
}
#pirate-fun img {
    width: 200px;
    margin-left: calc(50% - 100px);
}

/* ===== Media Queries ===== */
/* Tablets */
@media (min-width: 600px) and (max-width: 900px) {
    article {
        position: relative;
        width: 95%;
    }
    section {
        min-height: 650px;
    }
    #main {
        float: none;
        width: 94%;
        margin: 0 auto;
        /* height: 600px; */
    }
    #resources {
        float: left;
        width: 41%;
        margin-top: 2%;
    }
    #pirate-fun {
        float: left;
        width: 40%;
        margin-top: 2%;
        margin-left: 2%;
    }
}

/* Mobile */
@media (max-width: 599px) {
    body {
        margin: 0;
        padding: 0;
    }
    article {
        width: 100%;
        margin: 0;
        padding: 5px;
    }
    .content-wrapper {
        width: 98%;
    }
    #header-img {
        max-width: 200px;
        margin-top: 5px;
        margin-left: calc(50% - 100px);
        margin-bottom: 15px;
    }
    section {
        min-height: 500px;
    }
    #main {
        float: none;
        width: 90%;
        margin: 0 0 5px 0;
    }
    #main img {
        max-width: 200px;
        margin-left: calc(50% - 100px);
    }
    #resources {
        float: none;
        width: 90%;
        margin: 0 0 5px 0;
    }
    #pirate-fun {
        float: none;
        width: 90%;
        margin: 0 0 5px 0;
    }
}